[Unit]
Description=Lock the screen on resume from suspend
Before=sleep.unit

[Service]
Environment=DISPLAY=:0
ExecStart=lock

[Install]
WantedBy=sleep.target
